---
import Upheading from './Upheading.astro'

interface AreaItem {
  title: string
  description: string
}

interface Props {
  upheading: string
  heading: string
  intro: string
  areas: AreaItem[]
}

const { upheading, heading, intro, areas } = Astro.props
---

<div class='bg-petrol-50 py-24 sm:py-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <div
      class='mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5'>
      <div class='col-span-2'>
        <Upheading text={upheading} />
        <h2
          class='mt-2 text-4xl font-semibold tracking-tight text-pretty text-petrol-900 sm:text-5xl'>
          {heading}
        </h2>
        <Fragment set:html={intro} />
      </div>
      <div
        class='col-span-3 grid grid-cols-1 gap-x-8 gap-y-10 text-base/7 text-petrol-600 sm:grid-cols-2 lg:gap-y-16'>
        {areas.map((area) => (
          <div class='relative pl-9'>
            <h3 class='font-semibold text-petrol-900'>
              <svg
                class='absolute top-1 left-0 size-5 text-petrol-500'
                viewBox='0 0 20 20'
                fill='currentColor'
                aria-hidden='true'>
                <path
                  fill-rule='evenodd'
                  d='M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z'
                  clip-rule='evenodd'
                />
              </svg>
              {area.title}
            </h3>
            <p class='mt-2'>
              <Fragment set:html={area.description} />
            </p>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>
